/*BASE RESET*/

html, body{
    
    padding: 0;
    margin: 0;
    height: 100%;
    
    
    
}

/*CSS STYLING*/



#background{
    
    background-color: #000;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: table;
    
}



#loginContainer * {    
/*    * means all */
    
    color: #fff;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    line-height: 1em;
    box-sizing: border-box;
    
}


#loginContainer{
    
    width: 80%;
    margin: 0 auto; 
/*    top and bottom margin is 0 and auto means left and right automatically centered*/
    max-width: 1024px;
    
    
}



::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}





#inputContainer{
    
    width: 400px;
    padding: 45px;
    float: left;
    border-right: 1px solid #999;
}

#inputContainer h2{
    text-align: center;
}


#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"]{
    
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    height: 27px;
    line-height: 27px;
    width: 100%;
    
}

#inputContainer label{
    
    color: #a0a0a0;
    font-size: 13px;
    margin-top: 15px;
    
   
}


#inputContainer button{
    
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 250px;
    margin: 20px auto;
    letter-spacing: 1px;
    height: 41px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    
    
    
}


#inputContainer button:hover{
    cursor: pointer;
    background-color: #fff;
    color: lawngreen;
    
    
}





.hasAccountText span{
    
    font-weight: bold;
    font-size: 12px;
    
    
    
}


.hasAccountText{
    
    
    text-align: center;
}




#registerForm,
#loginForm{
    
    
    display: none;
    
}



































































/*

AUTOFILL LOGIN DETAILS HAD YELLOW BACKGROUND
USE THE BELOW CODE FOR MAKING IT WHITE
*/

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}

/*END OF THE AUTOFILL CODE OVERRIDE*/






















